
@{
    ViewBag.Title = "AdminRes";
}

<center>
    <text>
        Welcome, @Session["Name"].ToString() !
    </text>
</center>
<h3><u>Admin Dashboard</u></h3>
<a class="navbar-brand" href="/Registration/Dashboard">Requests</a>
<a class="navbar-brand" href="/Registration/AdminHistory"> History </a>
<a class="navbar-brand" href="/Registration/AdminRes"> Restaurants </a>
<a class="navbar-brand" href="/Registration/AdminEmp"> Employees </a>
<a class="navbar-brand" href="/Registration/UserLogin"> Logout</a>
<br />
<br />
<br />
<table class="table table-bordered">
    @foreach (var st in Model)
    {
        if (st.Type == "Restaurant")
        {
            <tr>
                <td>@st.Id</td>
                <td>@st.Name</td>
                <td>@st.Contact</td>
                <td>@st.Address</td>
                <td>@st.Email</td>
                <td>@st.Password</td>
                <td>@st.Type</td>
            </tr>

        }

    }

</table>

